---
http_interactions:
- request:
    method: get
    uri: http://api.justin.tv/stream/list.json?category=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="b23b973b0359e8233051d4eefb202aa7", oauth_signature="L97mQmN%2FGSj8sHunrbviAvipfJQ%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1368407744", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Last-Modified:
      - Mon, 13 May 2013 01:15:43 GMT
      Front-End-Https:
      - 'off'
    body:
      encoding: UTF-8
      string: '[{"broadcast_part": 6, "featured": true, "channel_subscription": false,
        "audio_codec": "uncompressed", "id": "5651714336", "category": "gaming", "title":
        "ESL Brasil Open - Playoffs: @Tixinha @Toboco TABELA: http://migre.me/evYKt
        - RaidCall 1010", "channel_count": 20265, "video_height": 720, "site_count":
        7009, "embed_enabled": true, "channel": {"subcategory": null, "producer":
        true, "image_url_huge": "http://static-cdn.jtvnw.net/jtv_user_pictures/esl_lol_brasil-profile_image-b4f5ee3a40c1736a-600x600.png",
        "timezone": "America/Sao_Paulo", "screen_cap_url_huge": "http://static-cdn.jtvnw.net/previews/live_user_esl_lol_brasil-630x473.jpg",
        "id": "5651714336", "views_count": 10447098, "category": "gaming", "embed_code":
        "<object type=\"application/x-shockwave-flash\" data=\"http://www.justin.tv/widgets/live_embed_player.swf?channel=esl_lol_brasil\"
        id=\"live_embed_player_flash\" height=\"300\" width=\"400\" bgcolor=\"#000000\"><param
        name=\"allowFullScreen\" value=\"true\"/><param name=\"allowScriptAccess\"
        value=\"always\" /><param name=\"allowNetworking\" value=\"all\" /><param
        name=\"movie\" value=\"http://www.justin.tv/widgets/live_embed_player.swf\"
        /><param name=\"flashvars\" value=\"hostname=www.justin.tv&channel=esl_lol_brasil&auto_play=false&start_volume=25\"
        /></object><a href=\"http://www.justin.tv/esl_lol_brasil#r=-rid-&amp;s=em\"
        class=\"trk\" style=\"padding:2px 0px 4px; display:block; width:345px; font-weight:normal;
        font-size:10px; text-decoration:underline; text-align:center\">Watch live
        video from esl_lol_brasil on www.justin.tv</a>", "title": "esl_lol_brasil",
        "image_url_tiny": "http://static-cdn.jtvnw.net/jtv_user_pictures/esl_lol_brasil-profile_image-b4f5ee3a40c1736a-50x50.png",
        "screen_cap_url_large": "http://static-cdn.jtvnw.net/previews/live_user_esl_lol_brasil-320x240.jpg",
        "channel_url": "http://www.justin.tv/esl_lol_brasil", "status": "ESL Brasil
        Open - Playoffs: @Tixinha @Toboco TABELA: http://migre.me/evYKt - RaidCall
        1010", "meta_game": "League of Legends", "tags": null, "image_url_small":
        "http://static-cdn.jtvnw.net/jtv_user_pictures/esl_lol_brasil-profile_image-b4f5ee3a40c1736a-70x70.png",
        "screen_cap_url_medium": "http://static-cdn.jtvnw.net/previews/live_user_esl_lol_brasil-150x113.jpg",
        "language": "de", "embed_enabled": true, "subcategory_title": "", "image_url_medium":
        "http://static-cdn.jtvnw.net/jtv_user_pictures/esl_lol_brasil-profile_image-b4f5ee3a40c1736a-150x150.png",
        "image_url_large": "http://static-cdn.jtvnw.net/jtv_user_pictures/esl_lol_brasil-profile_image-b4f5ee3a40c1736a-300x300.png",
        "mature": null, "screen_cap_url_small": "http://static-cdn.jtvnw.net/previews/live_user_esl_lol_brasil-70x53.jpg",
        "login": "esl_lol_brasil", "category_title": "Gaming"}, "up_time": "Sun May
        12 15:24:11 2013", "meta_game": "League of Legends", "format": "live", "embed_count":
        1708, "stream_type": "live", "abuse_reported": false, "video_width": 1280,
        "geo": "BR", "name": "live_user_esl_lol_brasil", "language": "de", "stream_count":
        8717, "video_bitrate": 860.9375, "broadcaster": "xsplit", "video_codec": "AVC",
        "channel_view_count": 10314971}, {"broadcast_part": 2, "featured": true, "channel_subscription":
        true, "audio_codec": "uncompressed", "id": "5652533056", "category": "gaming",
        "title": "Crs Saintvicious- Solo Que", "channel_count": 8136, "video_height":
        1200, "site_count": 2735, "embed_enabled": true, "channel": {"subcategory":
        null, "producer": true, "image_url_huge": "http://static-cdn.jtvnw.net/jtv_user_pictures/crs_saintvicious-profile_image-b52f8e50b134cbf7-600x600.jpeg",
       [...]
