---
http_interactions:
- request:
    method: get
    uri: http://api.justin.tv/stream/list?category=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="af16c3961568f11ea85350e55cb55fe5", oauth_signature="b5DL2r3KDg2H9K5gfy4QqLi6S%2FQ%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1361148616", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Geo:
      - US
      Etag:
      - '"9455ad921043a701a33acee488611839"'
      Front-End-Https:
      - 'off'
    body:
      encoding: UTF-8
      string: '[{"stream_count":10432,"name":"live_user_tsm_theoddone","embed_count":2180,"channel_count":25020,"format":"live","category":"gaming","title":"TSM
        Snapdragon TheOddOne jungle power hour managing the platinum janitors from
        my office in the Diamond club ","channel":{"timezone":"US/Pacific","tags":null,"screen_cap_url_large":"http://static-cdn.jtvnw.net/previews/live_user_tsm_theoddone-320x240.jpg","subcategory":null,"category":"gaming","image_url_huge":"http://static-cdn.jtvnw.net/jtv_user_pictures/tsm_theoddone-profile_image-a74433a8f8ced577-600x600.jpeg","status":"TSM
        Snapdragon TheOddOne jungle power hour managing the platinum janitors from
        my office in the Diamond club ","views_count":"69350520","screen_cap_url_small":"http://static-cdn.jtvnw.net/previews/live_user_tsm_theoddone-70x53.jpg","channel_url":"http://www.justin.tv/tsm_theoddone","title":"tsm_theoddone","screen_cap_url_medium":"http://static-cdn.jtvnw.net/previews/live_user_tsm_theoddone-150x113.jpg","image_url_large":"http://static-cdn.jtvnw.net/jtv_user_pictures/tsm_theoddone-profile_image-a74433a8f8ced577-300x300.jpeg","category_title":"Gaming","image_url_medium":"http://static-cdn.jtvnw.net/jtv_user_pictures/tsm_theoddone-profile_image-a74433a8f8ced577-150x150.jpeg","producer":true,"id":30080840,"image_url_small":"http://static-cdn.jtvnw.net/jtv_user_pictures/tsm_theoddone-profile_image-a74433a8f8ced577-70x70.jpeg","subcategory_title":null,"embed_code":"    <object
        type=\"application/x-shockwave-flash\" height=\"295\" width=\"353\" id=\"live_embed_player_flash\"
        data=\"http://www.justin.tv/widgets/live_embed_player.swf?channel=tsm_theoddone\"
        bgcolor=\"#000000\"><param name=\"allowFullScreen\" value=\"true\" /><param
        name=\"allowscriptaccess\" value=\"always\" /><param name=\"movie\" value=\"http://www.justin.tv/widgets/live_embed_player.swf\"
        /><param name=\"flashvars\" value=\"auto_play=false&channel=tsm_theoddone&start_volume=25\"
        /></object>\n","embed_enabled":true,"image_url_tiny":"http://static-cdn.jtvnw.net/jtv_user_pictures/tsm_theoddone-profile_image-a74433a8f8ced577-50x50.jpeg","language":"en","login":"tsm_theoddone","screen_cap_url_huge":"http://static-cdn.jtvnw.net/previews/live_user_tsm_theoddone-630x473.jpg","mature":null},"abuse_reported":false,"site_count":8252,"featured":true,"video_bitrate":2082.1484375,"language":"en","video_height":720,"broadcaster":"delay","meta_game":"League
        of Legends","id":"4890825440","channel_view_count":69120729,"geo":"US","video_width":1280,"up_time":"Sun
        Feb 17 11:43:39 2013","audio_codec":"uncompressed","broadcast_part":11,"stream_type":"live","embed_enabled":false,"channel_subscription":true,"video_codec":"AVC"},{"stream_count":4134,"name":"live_user_eg_idra","embed_count":1330,"channel_count":9099,"format":"live","category":"gaming","title":"sc2
        hots ladder practice with commentary","channel":{"timezone":"US/Mountain","tags":"eg
        esports gaming idra sc2 starcraft starcraft2","screen_cap_url_large":"http://static-cdn.jtvnw.net/previews/live_user_eg_idra-320x240.jpg","subcategory":null,"category":"gaming","image_url_huge":"http://static-cdn.jtvnw.net/jtv_user_pictures/eg_idra-profil[...]
