---
http_interactions:
- request:
    method: get
    uri: http://api.justin.tv/channel/fans/officecam.json?id=officecam
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="d3d8e453c87584964d501dc25755d0df", oauth_signature="SFZwhRZJGOOFoQEVbFQnZC34OW8%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1368408350", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Front-End-Https:
      - 'off'
    body:
      encoding: UTF-8
      string: '[{"broadcaster": "true", "id": 45509, "login": "joetvee", "name": "joetv",
        "favorite_quotes": null, "location": "everywhere in connecticut", "sex": "Male",
        "image_url_huge": "http://static-cdn.jtvnw.net/jtv_user_pictures/joetvee-profile_image-e26db006068e1654-600x600.jpeg",
        "image_url_large": "http://static-cdn.jtvnw.net/jtv_user_pictures/joetvee-profile_image-e26db006068e1654-300x300.jpeg",
        "image_url_medium": "http://static-cdn.jtvnw.net/jtv_user_pictures/joetvee-profile_image-e26db006068e1654-150x150.jpeg",
        "image_url_small": "http://static-cdn.jtvnw.net/jtv_user_pictures/joetvee-profile_image-e26db006068e1654-70x70.jpeg",
        "image_url_tiny": "http://static-cdn.jtvnw.net/jtv_user_pictures/joetvee-profile_image-e26db006068e1654-50x50.jpeg",
        "embed_code": "<object type=\"application/x-shockwave-flash\" data=\"http://www.justin.tv/widgets/live_embed_player.swf?channel=joetvee\"
        id=\"live_embed_player_flash\" height=\"300\" width=\"400\" bgcolor=\"#000000\"><param
        name=\"allowFullScreen\" value=\"true\"/><param name=\"allowScriptAccess\"
        value=\"always\" /><param name=\"allowNetworking\" value=\"all\" /><param
        name=\"movie\" value=\"http://www.justin.tv/widgets/live_embed_player.swf\"
        /><param name=\"flashvars\" value=\"hostname=www.justin.tv&channel=joetvee&auto_play=false&start_volume=25\"
        /></object><a href=\"http://www.justin.tv/joetvee#r=-rid-&amp;s=em\" class=\"trk\"
        style=\"padding:2px 0px 4px; display:block; width:345px; font-weight:normal;
        font-size:10px; text-decoration:underline; text-align:center\">Watch live
        video from joetvee on www.justin.tv</a>", "pro_account": "false"}, {"broadcaster":
        "true", "id": 85562, "login": "weedsmoker", "name": "\u2620\u2668 weedsmoker
        \u2668\u2620", "favorite_quotes": "Give peace a chance.. but first, let''s
        kill this motherfucker!", "location": "", "sex": "Male", "image_url_huge":
        "http://static-cdn.jtvnw.net/jtv_user_pictures/weedsmoker-profile_image-SrbD2Jh77KnIcGj-600x600.png",
        "image_url_large": "http://static-cdn.jtvnw.net/jtv_user_pictures/weedsmoker-profile_image-SrbD2Jh77KnIc[...]
