---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channels/officecam/follows.json?id=officecam
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="6f94182ed55f037ad3ebcb642dc30b0b",
        oauth_signature="jUH5dYH4wBvOSvJ58nR0j7cy9Gk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424824758", oauth_token="", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"894d091bc5b0116053ab6bdbe5aa689f"'
      X-Mh-Cache:
      - appcache4; M
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"follows":[{"created_at":null,"_links":{"self":"https://api.twitch.tv/kraken/users/btmtv/follows/channels/officecam"},"notifications":false,"user":{"_id":180385,"name":"btmtv","created_at":"2007-11-22T02:42:00Z","updated_at":"2011-07-09T15:27:22Z","_links":{"self":"https://api.twitch.tv/kraken/users/btmtv"},"display_name":"Btmtv","logo":"http://static-cdn.jtvnw.net/jtv_user_pictures/btmtv-profile_image-6272b7d145c6e136-300x300.jpeg","bio":"BTMTELEVISION.com
        - Bill T Miller broadcasting NOISE from Headroom Studios in Boston. more info:
        billtmiller.com","type":"user"}},{"created_at":null,"_links":{"self":"https://api.twitch.tv/kraken/users/wyman22/follows/channels/officecam"},"notifications":true,"user":{"_id":176132,"name":"wyman22","created_at":"2007-11-19T01:45:00Z","updated_at":"2008-06-29T09:16:10Z","_links":{"self":"https://api.twitch.tv/kraken/users/wyman22"},"display_name":"Wyman22","logo":null,"bio":null,"type":"user"}},{"created_at":null,"_links":{"self":"https://api.twitch.tv/kraken/users/manx/follows/channels/officecam"},"notifications":tr[...]
