---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channels/apidemo.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="9ca365820dd7bb95b2cde1c0d2bda3d0",
        oauth_signature="QWmntXDA496EFbe%2B1HfOAVY9tb0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424824759", oauth_token="", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"f8a9be0533dba594e0518c25a4326ef3"'
      X-Mh-Cache:
      - appcache4; M
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"mature":null,"status":null,"broadcaster_language":null,"display_name":"Apidemo","game":null,"delay":0,"language":"en","_id":6285586,"name":"apidemo","created_at":"2009-05-14T01:07:05Z","updated_at":"2015-02-18T01:20:19Z","logo":null,"banner":null,"video_banner":null,"background":null,"profile_banner":null,"profile_banner_background_color":null,"partner":false,"url":"http://www.twitch.tv/apidemo","views":38776,"followers":28,"_links":{"self":"https://api.twitch.tv/kraken/channels/apidemo","follows":"https://api.twitch.tv/kraken/channels/apidemo/follows","commercial":"https://api.twitch.tv/kraken/channels/apidemo/commercial","stream_key":"https://api.twitch.tv/kraken/channels/apidemo/stream_key","chat":"https://api.twitch.tv/kraken/chat/apidemo","features":"https://api.twitch.tv/kraken/channels/apidemo/features","subscriptions":"https://api.twitch.tv/kraken/channels/apidemo/subscriptions","editors":"https://api.twitch.tv/kraken/channels/apidemo/editors","teams":"https://api.twitch.tv/kraken/channels/apidemo/teams","videos":"https://api.twitch.tv/kraken/channels/apidemo/videos"}}'
  recorded_at: Wed, 25 Feb 2015 00:39:19 GMT
recorded_with: VCR 2.9.3
