---
http_interactions:
- request:
    method: get
    uri: http://api.justin.tv/stream/list?category=gaming
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_nonce="2098ba3ab3db2b8bad16656cbedd72af", oauth_signature="qUOZNngqz23cbNf7JKTRQ63nrMk%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1361144285", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-geo:
      - US
      etag:
      - '"390fb435ab965b013d2c346ceb06f98d"'
      front-end-https:
      - 'off'
    body:
      encoding: UTF-8
      string: '[{"stream_count":9839,"name":"live_user_tsm_theoddone","embed_count":1854,"channel_count":23667,"format":"live","category":"gaming","title":"TSM
        Snapdragon TheOddOne jungle power hour managing the platinum janitors from
        my office in the Diamond club ","channel":{"screen_cap_url_huge":"http://static-cdn.jtvnw.net/previews/live_user_tsm_theoddone-630x473.jpg","timezone":"US/Pacific","tags":null,"category_title":"Gaming","subcategory":null,"category":"gaming","views_count":"69291364","screen_cap_url_large":"http://static-cdn.jtvnw.net/previews/live_user_tsm_theoddone-320x240.jpg","status":"TSM
        Snapdragon TheOddOne jungle power hour managing the platinum janitors from
        my office in the Diamond club ","embed_enabled":true,"image_url_huge":"http://static-cdn.jtvnw.net/jtv_user_pictures/tsm_theoddone-profile_image-a74433a8f8ced577-600x600.jpeg","channel_url":"http://www.justin.tv/tsm_theoddone","subcategory_title":null,"title":"tsm_theoddone","screen_cap_url_small":"http://static-cdn.jtvnw.net/previews/live_user_tsm_theoddone-70x53.jpg","mature":null,"screen_cap_url_medium":"http://static-cdn.jtvnw.net/previews/live_user_tsm_theoddone-150x113.jpg","image_url_large":"http://static-cdn.jtvnw.net/jtv_user_pictures/tsm_theoddone-profile_image-a74433a8f8ced577-300x300.jpeg","id":30080840,"image_url_medium":"http://static-cdn.jtvnw.net/jtv_user_pictures/tsm_theoddone-profile_image-a74433a8f8ced577-150x150.jpeg","producer":true,"image_url_small":"http://static-cdn.jtvnw.net/jtv_user_pictures/tsm_theoddone-profile_image-a74433a8f8ced577-70x70.jpeg","embed_code":"    <object
        type=\"application/x-shockwave-flash\" height=\"295\" width=\"353\" id=\"live_embed_player_flash\"
        data=\"http://www.justin.tv/widgets/live_embed_player.swf?channel=tsm_theoddone\"
        bgcolor=\"#000000\"><param name=\"allowFullScreen\" value=\"true\" /><param
        name=\"allowscriptaccess\" value=\"always\" /><param name=\"movie\" value=\"http://www.justin.tv/widgets/live_embed_player.swf\"
        /><param name=\"flashvars\" value=\"auto_play=false&channel=tsm_theoddone&start_volume=25\"
        /></object>\n","image_url_tiny":"http://static-cdn.jtvnw.net/jtv_user_pictures/tsm_theoddone-profile_image-a74433a8f8ced577-50x50.jpeg","language":"en","login":"tsm_theoddone"},"abuse_reported":false,"site_count":7985,"featured":true,"video_bitrate":2273.234375,"language":"en","video_height":720,"broadcaster":"delay","meta_game":"League
        of Legends","id":"4890825440","channel_view_count":69120729,"geo":"US","video_width":1280,"up_time":"Sun
        Feb 17 11:43:39 2013","audio_codec":"uncompressed","broadcast_part":8,"stream_type":"live","embed_enabled":false,"channel_subscription":true,"video_codec":"AVC"},{"stream_count":5417,"name":"live_user_wingsofdeath","embed_count":993,"channel_count":15745,"format":"live","category":"gaming","title":"Wingsofdeath
        - Duo Q with bischu","channel":{"screen_cap_url_huge":"http://static-cdn.jtvnw.net/previews/live_user_wingsofdeath-630x473.jpg","timezone":"US/Pacific","tags":null,"category_title":"Gaming","subcategory":null,"category":"gaming","views_count":"22318108","screen_cap_url_large":"http://static-cdn.jtvnw.net/previews/live_user_wingsofde[...]
