---
http_interactions:
- request:
    method: get
    uri: http://api.justin.tv/user/show/augury.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="53b44e1307f9e784ec75834268ab4268", oauth_signature="EGRah0KsBHniur2LAknv%2BjgbKR0%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1361148593", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Geo:
      - US
      Etag:
      - '"f635a8225b58c33368b9fc616ab68187"'
      Front-End-Https:
      - 'off'
    body:
      encoding: UTF-8
      string: '{"location":"Illinois, USA","image_url_huge":"http://static-cdn.jtvnw.net/jtv_user_pictures/augury-profile_image-fed592481d356caa-600x600.jpeg","favorite_quotes":"\"CANDAY!\"
        -Brandon505\r\n\"Do a bearrel roll!\" -Brad (4PP)\r\n\"That''s some Ring shit!\"
        -Brad (4PP)","image_url_large":"http://static-cdn.jtvnw.net/jtv_user_pictures/augury-profile_image-fed592481d356caa-300x300.jpeg","sex":"Male","id":8764896,"broadcaster":null,"image_url_medium":"http://static-cdn.jtvnw.net/jtv_user_pictures/augury-profile_image-fed592481d356caa-150x150.jpeg","image_url_small":"http://static-cdn.jtvnw.net/jtv_user_pictures/augury-profile_image-fed592481d356caa-70x70.jpeg","pro_account":false,"embed_code":"    <object
        type=\"application/x-shockwave-flash\" height=\"295\" width=\"353\" id=\"live_embed_player_flash\"
        data=\"http://www.justin.tv/widgets/live_embed_player.swf?channel=augury\"
        bgcolor=\"#000000\"><param name=\"allowFullScreen\" value=\"true\" /><param
        name=\"allowscriptaccess\" value=\"always\" /><param name=\"movie\" value=\"http://www.justin.tv/widgets/live_embed_player.swf\"
        /><param name=\"flashvars\" value=\"auto_play=false&channel=augury&start_volume=25\"
        /></object>\n","name":null,"image_url_tiny":"http://static-cdn.jtvnw.net/jtv_user_pictures/augury-profile_image-fed592481d356caa-50x50.jpeg","login":"augury"}'
  recorded_at: Mon, 18 Feb 2013 00:49:54 GMT
recorded_with: VCR 2.4.0
