---
http_interactions:
- request:
    method: get
    uri: http://api.justin.tv/channel/fans?id=officecam
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - OAuth oauth_nonce="366a8510bdc878521388bbb5ea782021", oauth_signature="EzLE6sqWxSlsoHE36BsLennjI5o%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1361144973", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      status:
      - 200 OK
      x-geo:
      - US
      etag:
      - '"8130bbba0b6428f0ed64caec7b61039a"'
      front-end-https:
      - 'off'
    body:
      encoding: UTF-8
      string: '[{"location":"Billingham, UK","image_url_huge":"http://static-cdn.jtvnw.net/jtv_user_pictures/jackb-profile_image-fe399264c257d7a7-600x600.jpeg","favorite_quotes":"Drew4848:
        Your place or mine?","image_url_large":"http://static-cdn.jtvnw.net/jtv_user_pictures/jackb-profile_image-fe399264c257d7a7-300x300.jpeg","sex":"Male","id":288,"broadcaster":true,"image_url_medium":"http://static-cdn.jtvnw.net/jtv_user_pictures/jackb-profile_image-fe399264c257d7a7-150x150.jpeg","image_url_small":"http://static-cdn.jtvnw.net/jtv_user_pictures/jackb-profile_image-fe399264c257d7a7-70x70.jpeg","pro_account":false,"embed_code":"    <object
        type=\"application/x-shockwave-flash\" height=\"295\" width=\"353\" id=\"live_embed_player_flash\"
        data=\"http://www.justin.tv/widgets/live_embed_player.swf?channel=jackb\"
        bgcolor=\"#000000\"><param name=\"allowFullScreen\" value=\"true\" /><param
        name=\"allowscriptaccess\" value=\"always\" /><param name=\"movie\" value=\"http://www.justin.tv/widgets/live_embed_player.swf\"
        /><param name=\"flashvars\" value=\"auto_play=false&channel=jackb&start_volume=25\"
        /></object>\n","name":"Jack David Bromby","image_url_tiny":"http://static-cdn.jtvnw.net/jtv_user_pictures/jackb-profile_image-fe399264c257d7a7-50x50.jpeg","login":"jackb"},{"location":"San
        Francisco","image_url_huge":"http://www-cdn.jtvnw.net/images/xarth/404_user_600x600.png","favorite_quotes":null,"image_url_large":"http://www-cdn.jtvnw.net/images/xarth/404_user_300x300.png","sex":"","id":1100,"broadcaster":true,"image_url_medium":"http://www-cdn.jtvnw.net/images/xarth/404_user_150x150.png","image_url_small":"http://www-cdn.jtvnw.net/images/xarth/404_user_70x70.png","pro_account":false,"embed_code":"    <object
        type=\"application/x-shock[...]
