---
http_interactions:
- request:
    method: get
    uri: http://api.justin.tv/user/favorites/augury.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="010ea1248ba10a18edc4a91460291e2d", oauth_signature="V%2B7Oxsw%2BcS%2FZMxu1%2BU%2BQplSZBWI%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1361148594", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Geo:
      - US
      Etag:
      - '"396a7501345f837c6c6477ba1a601d74"'
      Front-End-Https:
      - 'off'
    body:
      encoding: UTF-8
      string: '[{"screen_cap_url_huge":"http://static-cdn.jtvnw.net/previews/live_user_fourplayerpodcast-630x473.jpg","timezone":"US/Central","tags":"360
        games gaming microsoft nintendo playstation podcast ps3 sony video videogames
        wii xbox","category_title":"Gaming","subcategory":null,"category":"gaming","views_count":"43008310","screen_cap_url_large":"http://static-cdn.jtvnw.net/previews/live_user_fourplayerpodcast-320x240.jpg","status":"Metal
        Gear Sunday - MGS4 with Nolan!","embed_enabled":true,"image_url_huge":"http://static-cdn.jtvnw.net/jtv_user_pictures/fourplayerpodcast-profile_image-a5772f943f3cc055-600x600.jpeg","channel_url":"http://www.justin.tv/fourplayerpodcast","subcategory_title":null,"title":"4Player
        Podcast","screen_cap_url_small":"http://static-cdn.jtvnw.net/previews/live_user_fourplayerpodcast-70x53.jpg","mature":false,"screen_cap_url_medium":"http://static-cdn.jtvnw.net/previews/live_user_fourplayerpodcast-150x113.jpg","image_url_large":"http://static-cdn.jtvnw.net/jtv_user_pictures/fourplayerpodcast-profile_image-a5772f943f3cc055-300x300.jpeg","id":261715,"image_url_medium":"http://static-cdn.jtvnw.net/jtv_user_pictures/fourplayerpodcast-profile_image-a5772f943f3cc055-150x150.jpeg","producer":true,"image_url_small":"http://static-cdn.jtvnw.net/jtv_user_pictures/fourplayerpodcast-profile_image-a5772f943f3cc055-70x70.jpeg","embed_code":"    <object
        type=\"application/x-shockwave-flash\" height=\"295\" width=\"353\" id=\"live_embed_player_flash\"
        data=\"http://www.justin.tv/widgets/live_embed_player.swf?channel=fourplayerpodcast\"
        bgcolor=\"#000000\"><param name=\"allowFullScreen\" value=\"true\" /><param
        name=\"allowscriptaccess\" value=\"always\" /><param name=\"movie\" value=\"http://www.justin.tv/widgets/live_embed_player.swf\"
        /><param name=\"flashvars\" value=\"auto_play=false&channel=fourplayerpodcast&start_volume=25\"
        /></object>\n","image_url_tiny":"http://static-cdn.jtvnw.net/jtv_user_pictures/fourplayerpodcast-profile_image-a5772f943f3cc055-50x50.jpeg","language":"en","login":"fourplayerpodcast"},{"screen_cap_url_huge":"http://static-cdn.jtvnw.net/previews/live_user_brandon505-630x473.jpg","timezone":"America/Detroit","tags":"brandon505
        brandons channel gaming","category_title":"Gaming","subcategory":null,"category":"gaming","views_count":"3230997","screen_cap_url_large":"http://static-cdn.jtvnw.net/previews/live_user_brandon505-320x240.jpg","status":"Borderlands
        2 with Brandon (360)","embed_enabled":true,"image_url_huge":"http://static-cdn.jtvnw.net/[...]
