---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/summary.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="098174bd2d58c2e8b20c5ab9d36d9fa7",
        oauth_signature="H5YhgKp0cc8kTwBlYesWQhpzPNY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424824759", oauth_token="", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"759bc179e408ad159672445ea5107a0b"'
      X-Mh-Cache:
      - appcache2; M
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"channels":18724,"viewers":516508,"_links":{"self":"https://api.twitch.tv/kraken/streams/summary"}}'
  recorded_at: Wed, 25 Feb 2015 00:39:19 GMT
recorded_with: VCR 2.9.3
