---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/channels/test_channel/videos.json?channel=test_channel&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="8021230e12a94d3c88b2a1cb8267140d",
        oauth_signature="5dKQdylAXEJlV2OgZISmN0fzApk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424824758", oauth_token="", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"83df9a8094218f78b5b5710f333b01a9"'
      X-Mh-Cache:
      - appcache2; M
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":9,"_links":{"self":"https://api.twitch.tv/kraken/channels/test_channel/videos?limit=2&offset=0&user=test_channel","next":"https://api.twitch.tv/kraken/channels/test_channel/videos?limit=2&offset=2&user=test_channel"},"videos":[{"title":"robot
        greeting 2","description":"greeting","broadcast_id":null,"status":"recorded","tag_list":"","_id":"c213462","recorded_at":"2009-12-15T10:03:04Z","game":null,"length":75,"preview":null,"url":"http://www.twitch.tv/test_channel/c/213462","views":2,"broadcast_type":"highlight","_links":{"self":"https://api.twitch.tv/kraken/videos/c213462","channel":"https://api.twitch.tv/kraken/channels/test_channel"},"channel":{"name":"test_channel","display_name":"Test_channel"}},{"title":"echobot2","description":"testing
        the bot","broadcast_id":null,"status":"recorded","tag_list":"","_id":"c213497","recorded_at":"2009-12-15T07:58:43Z","game":null,"length":43,"preview":null,"url":"http://www.twitch.tv/test_channel/c/213497","views":0,"broadcast_type":"highlight","_links":{"self":"https://api.twitch.tv/kraken/videos/c213497","channel":"https://api.twitch.tv/kraken/channels/test_channel"},"channel":{"name":"test_channel","display_name":"Test_channel"}}]}'
  recorded_at: Wed, 25 Feb 2015 00:39:19 GMT
recorded_with: VCR 2.9.3
