---
http_interactions:
- request:
    method: get
    uri: http://api.justin.tv/channel/archives/dotahut.json?channel=dotahut&limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="313bbd99f785484b9cf6e0f0152c1d9b", oauth_signature="OAnY7J6oMHXabdyDIx83PMfMjdw%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1368408351", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Front-End-Https:
      - 'off'
    body:
      encoding: UTF-8
      string: '[{"video_file_url": "http://store33.media33.justin.tv/archives/2013-3-3/live_user_dotahut_1362345627.flv",
        "kind": null, "tag_list": "", "video_rotation": 0, "title": "DotaHut Invitational:
        Fnatic vs. Mouz (Grand Finals) casted by Maut", "created_on": "2013-03-03
        21:45:21 UTC", "stream_name": "live_user_dotahut", "filtered": "unchecked",
        "video_bitrate": null, "updated_on": "2013-05-12 15:53:11 UTC", "save_forever":
        "true", "id": 373537869, "file_name": "2013-3-3/live_user_dotahut_1362345627.flv",
        "broadcaster": "delay", "broadcast_id": 5016397072, "user_id": 38409951, "origin_name":
        "3842704", "file_size": 286290322, "deleted_by_user": "false", "broadcast_part":
        "4", "keyframes": null, "length": "1470", "image_url_medium": "http://static-cdn.jtvnw.net/jtv.thumbs/archive-373537869-150x113.jpg",
        "servers": "35", "start_time": "2013-03-03 21:20:27 UTC", "last_part": "",
        "video_codec": "AVC", "audio_codec": "aac", "parent_archive_id": null, "description":
        null, "include_on_channel": "none", "status": null}, {"video_file_url": "http://store21.media21.justin.tv/archives/2013-3-3/live_user_dotahut_1362343814.flv",
        "kind": null, "tag_list": "", "video_rotation": 0, "title": "DotaHut Invitational:
        Fnatic vs. Mouz (Grand Finals) casted by Maut", "created_on": "2013-03-03
        21:20:42 UTC", "stream_name": "live_user_dotahut", "filtered": "unchecked",
        "video_bitrate": null, "updated_on": "2013-03-03 21:20:44 UTC", "save_forever":
        "true", "id": 373529497, "file_name": "2013-3-3/live_user_dotahut_1362343814.flv",
        "broadcaster": "delay", "broadcast_id": 5016397072, "user_id": 38409951, "origin_name":
        "3842704", "file_size": 253298632, "deleted_by_user": "false", "broadcast_part":
        "3", "keyframes": null, "length": "1812", "image_url_medium": "http://static-cdn.jtvnw.net/jtv.thumbs/archive-373529497-150x113.jpg",
        "servers": "22", "start_time": "2013-03-03 20:50:14 UTC", "last_part": "",
        "video_codec": "AVC", "audio_codec": "aac", "parent_archive_id": null, "description":
        null, "include_on_channel": "none", "status": null}]'
  recorded_at: Mon, 13 May 2013 01:25:51 GMT
recorded_with: VCR 2.4.0
