---
http_interactions:
- request:
    method: get
    uri: http://api.justin.tv/stream/search/league%20of%20legends.json?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="86e5ab31eda02e21806a6c03fe47730f", oauth_signature="1iGZeCbbWKogBy%2BmIUcnASMexh0%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1361148617", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Geo:
      - US
      Etag:
      - '"3e24bb63eebf6b2bc481fc9ff69f4639"'
      Front-End-Https:
      - 'off'
    body:
      encoding: UTF-8
      string: '[{"stream_count":5120,"name":"live_user_esl_lol_brasil","embed_count":120,"format":"live","channel_count":8568,"category":"gaming","title":"Go4LOL
        #16 -  Na transmiss\u00e3o @GruntarTV e @TobocoTV- Tabela: http://bit.ly/UuWP2I","channel":{"screen_cap_url_huge":"http://static-cdn.jtvnw.net/previews/live_user_esl_lol_brasil-630x473.jpg","timezone":"America/Sao_Paulo","tags":null,"category_title":"Gaming","subcategory":null,"category":"gaming","views_count":"6959503","screen_cap_url_large":"http://static-cdn.jtvnw.net/previews/live_user_esl_lol_brasil-320x240.jpg","status":"Go4LOL
        #16 -  Na transmiss\u00e3o @GruntarTV e @TobocoTV- Tabela: http://bit.ly/UuWP2I","embed_enabled":true,"image_url_huge":"http://static-cdn.jtvnw.net/jtv_user_pictures/esl_lol_brasil-profile_image-b4f5ee3a40c1736a-600x600.png","channel_url":"http://www.justin.tv/esl_lol_brasil","subcategory_title":null,"title":"esl_lol_brasil","screen_cap_url_small":"http://static-cdn.jtvnw.net/previews/live_user_esl_lol_brasil-70x53.jpg","mature":null,"screen_cap_url_medium":"http://static-cdn.jtvnw.net/previews/live_user_esl_lol_brasil-150x113.jpg","image_url_large":"http://static-cdn.jtvnw.net/jtv_user_pictures/esl_lol_brasil-profile_image-b4f5ee3a40c1736a-300x300.png","id":36791492,"image_url_medium":"http://static-cdn.jtvnw.net/jtv_user_pictures/esl_lol_brasil-profile_image-b4f5ee3a40c1736a-150x150.png","producer":true,"image_url_small":"http://static-cdn.jtvnw.net/jtv_user_pictures/esl_lol_brasil-profile_image-b4f5ee3a40c1736a-70x70.png","embed_code":"    <object
        type=\"application/x-shockwave-flash\" height=\"295\" width=\"353\" id=\"live_embed_player_flash\"
        data=\"http://www.justin.tv/widgets/live_embed_player.swf?channel=esl_lol_brasil\"
        bgcolor=\"#000000\"><param name=\"allowFullScreen\" value=\"true\" /><param
        name=\"allowscriptaccess\" value=\"always\" /><param name=\"movie\" value=\"http://www.justin.tv/widgets/live_embed_player.swf\"
        /><param name=\"flashvars\" value=\"auto_play=false&channel=esl_lol_brasil&start_volume=25\"
        /></object>\n","image_url_tiny":"http://static-cdn.jtvnw.net/jtv_user_pictures/esl_lol_brasil-profile_image-b4f5ee3a40c1736a-50x50.png","language":"de","login":"esl_lol_brasil"},"abuse_reported":false,"site_count":5000,"featured":true,"video_bitrate":114.6484375,"language":"de","video_height":720,"broadcaster":"fme","meta_game":"League
        of Legends","id":"4889347680","channel_view_count":6869262,"geo":"BR","video_width":1280,"up_time":"Sun
        Feb 17 08:31:44 2013","audio_codec":"uncompressed","broadcast_part":17,"stream_type":"live","embed_enabled":true,"channel_subscription":false,"video_codec":"AVC"},{"stream_count":2377,"name":"live_user_sivhd","embed_count":229,"format":"live","channel_count":6258,"category":"gaming","title":"Siv","channel":{"screen_cap_url_huge":"http://static-cdn.jtvnw.net/previews/live_user_sivhd-630x473.jpg","timezone":"America/Los_Angeles","tags":null,"category_title":"Gaming","subcategory":null,"category":"gaming","views_count":"3192999","screen_cap_url_large":"http://static-cdn.jtvnw.net/previews/live_user_sivhd-320x240.jpg","status":"Siv","embed_enabled":tru[...]
