---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams.json?q=starcraft
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="fff5bbf95f4867507d50f0e8359bd414",
        oauth_signature="4L1m%2FBuspaprSXUBx78wR5cpqZA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1424824760", oauth_token="", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Api-Version:
      - '3'
      Etag:
      - '"fb41c1063b6d9c3d3feb2bb2bb228326"'
      X-Mh-Cache:
      - appcache2; M
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":112,"_links":{"self":"https://api.twitch.tv/kraken/search/streams?limit=10&offset=0&q=starcraft","next":"https://api.twitch.tv/kraken/search/streams?limit=10&offset=10&q=starcraft"},"streams":[{"_id":13311787520,"game":"StarCraft
        II: Heart of the Swarm","viewers":1866,"created_at":"2015-02-24T22:07:11Z","preview":{"small":"http://static-cdn.jtvnw.net/previews-ttv/live_user_desrowfighting-80x45.jpg","medium":"http://static-cdn.jtvnw.net/previews-ttv/live_user_desrowfighting-320x180.jpg","large":"http://static-cdn.jtvnw.net/previews-ttv/live_user_desrowfighting-640x360.jpg","template":"http://static-cdn.jtvnw.net/previews-ttv/live_user_desrowfighting-{width}x{height}.jpg"},"_links":{"self":"https://api.twitch.tv/kraken/streams/desrowfighting"},"channel":{"mature":false,"status":"SC2Remax
        EP29 w/ desRow, NaNiwa, Morrow, Nathanias & Rifkin!","broadcaster_language":"en","display_name":"desRowfighting","game":"StarCraft
        II: Heart of the Swarm","delay":0,"language":"en","_id":18785568,"name":"desrowfighting","created_at":"2010-12-16T19:51:06Z","updated_at":"2015-02-25T00:17:09Z","logo":"http://static-cdn.jtvnw.net/jtv_user_pictures/desrowfighting-profile_image-a463f0a21516bb84-300x300.png","banner":"http://static-cdn.jtvnw.net/jtv_user_pictures/desrowfighting-channel_header_image-25e2bef8d4d0ca5a-640x125.jpeg","video_banner":"http://static-cdn.jtvnw.net/jtv_user_pictures/desrowfighting-channel_offline_image-2b4d401f4f2fb3b8-640x360.png","background":null,"profile_banner":null,"profile_banner_background_color":null,"partner":true,"url":"http://www.twitch.tv/desrowfighting","views":9654869,"followers":27549,"_links":{"self":"https://api.twitch.tv/kraken/channels/desrowfighting","follows":"https://api.twitch.tv/kraken/channels/desrowfighting/follows","commercial":"https://api.twitch.tv/kraken/channels/desrowfighting/commercial","stream_key":"https://api.twitch.tv/kraken/channels/desrowfighting/stream_key","chat":"https://api.twitch.tv/kraken/chat/desrowfighting","features":"https://api.twitch.tv/kraken/channels/desrowfighting/features","subscriptions":"https://api.twitch.tv/kraken/channels/desrowfighting/subscriptions","editors":"https://api.twitch.tv/kraken/channels/desrowfighting/editors","teams":"https://api.twitch.tv/kraken/channels/desrowfighting/teams","videos":"https://api.twitch.tv/kraken/channels/desrowfighting/videos"}}},{"_id":13312792176,"game":"StarCraft
        II: Heart of the Swarm","viewers":1420,"created_at":"2015-02-24T23:22:54Z","preview":{"small":"http://static-cdn.jtvnw.net/previews-ttv/live_user_crank-80x45.jpg","medium":"http://static-cdn.jtvnw.net/previews-ttv/live_user_crank-320x180.jpg","large":"http://static-cdn.jtvnw.net/previews-ttv/live_user_crank-640x360.jpg","template":"http://static-cdn.jtvnw.net/previews-ttv/live_user_crank[...]
