---
http_interactions:
- request:
    method: get
    uri: http://api.justin.tv/stream/search/league%20of%20legends.json?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_nonce="e2a69024732ed935d6452d3599d088b0", oauth_signature="pICrS75dpYoTbMuhb73SrICVG04%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1368407744", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Last-Modified:
      - Mon, 13 May 2013 01:15:43 GMT
      Front-End-Https:
      - 'off'
    body:
      encoding: UTF-8
      string: '[{"subcategory": "radio_stations", "broadcast_part": 72, "featured":
        false, "channel_subscription": false, "audio_codec": "mp3", "id": "5639358400",
        "category": "entertainment", "title": "Alma en Radio en vivo", "geo": "AR",
        "site_count": 0, "embed_enabled": false, "channel": {"views_count": 42394,
        "producer": false, "image_url_huge": "http://static-cdn.jtvnw.net/jtv_user_pictures/almaenpenia-profile_image-0399954cd7cfa8e2-600x600.jpeg",
        "timezone": "", "screen_cap_url_huge": "http://static-cdn.jtvnw.net/previews/live_user_almaenpenia-630x473.jpg",
        "id": "5639358400", "subcategory": "radio_stations", "category": "entertainment",
        "embed_code": "<object type=\"application/x-shockwave-flash\" data=\"http://www.justin.tv/widgets/live_embed_player.swf?channel=almaenpenia\"
        id=\"live_embed_player_flash\" height=\"300\" width=\"400\" bgcolor=\"#000000\"><param
        name=\"allowFullScreen\" value=\"true\"/><param name=\"allowScriptAccess\"
        value=\"always\" /><param name=\"allowNetworking\" value=\"all\" /><param
        name=\"movie\" value=\"http://www.justin.tv/widgets/live_embed_player.swf\"
        /><param name=\"flashvars\" value=\"hostname=www.justin.tv&channel=almaenpenia&auto_play=false&start_volume=25\"
        /></object><a href=\"http://www.justin.tv/almaenpenia#r=-rid-&amp;s=em\" class=\"trk\"
        style=\"padding:2px 0px 4px; display:block; width:345px; font-weight:normal;
        font-size:10px; text-decoration:underline; text-align:center\">Watch live
        video from almaenpenia on www.justin.tv</a>", "title": "almaenpenia", "image_url_tiny":
        "http://static-cdn.jtvnw.net/jtv_user_pictures/almaenpenia-profile_image-0399954cd7cfa8e2-50x50.jpeg",
        "screen_cap_url_large": "http://static-cdn.jtvnw.net/previews/live_user_almaenpenia-320x240.jpg",
        "embed_enabled": false, "status": "Alma en Radio en vivo", "meta_game": "",
        "tags": null, "image_url_small": "http://static-cdn.jtvnw.net/jtv_user_pictures/almaenpenia-profile_image-0399954cd7cfa8e2-70x70.jpeg",
        "screen_cap_url_medium": "http://static-cdn.jtvnw.net/previews/live_user_almaenpenia-150x113.jpg",
        "language": "es", "channel_url": "http://www.justin.tv/almaenpenia", "subcategory_title":
        "Radio Stations", "image_url_medium": "http://static-cdn.jtvnw.net/jtv_user_pictures/almaenpenia-profile_image-0399954cd7cfa8e2-150x150.jpeg",
        "image_url_large": "http://static-cdn.jtvnw.net/jtv_user_pictures/almaenpenia-profile_image-0399954cd7cfa8e2-300x300.jpeg",
        "mature": null, "screen_cap_url_small": "http://static-cdn.jtvnw.net/previews/live_user_almaenpenia-70x53.jpg",
        "login": "almaenpenia", "category_title": "Entertainment"}, "up_time": "Sat
        May 11 06:34:50 2013", "format": "live", "channel_count": 0, "embed_count":
        0, "abuse_reported": false, "stream_type": "live", "name": "live_user_almaenpenia",
        "language": "es", "stream_count": 0, "video_bitrate": 65.53125, "channel_id":
        26683806, "broadcaster": "fme", "channel_view_count": 42202}, {"subcategory":
        "radio_stations", "broadcast_part": 100, "featured": false, "channel_subscription":
        false, "audio_codec": "mp3", "id": "5634602960", "category": "entertainment",
        "geo": "AR", "site_count": 0, "embed_enabled": true, "channel": {"views_count":
        7593, "producer": false, "image_url_huge": "http://static-cdn.jtvnw.net/jtv_user_pictures/94fantastica-profile_image-c9f2d3565b096913-600x600.jpeg",
        "timezone": "", "screen_cap_url_huge": "http[...]
